<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Akanksha Pawar
              </h1>
              <p>I am a Frontend developer intern at <a href="https://www.prosperon.io/">ProsperOn</a>, where I work with TypeScript, React. 
              </p>
              <p>
                From June 2023 to May 2024, I worked at <a href="https://ithacacleanenergy.com/">Ithaca Clean Energy</a>, as an Application Developer Intern. 
              </p>
              <p>
                I have an MS in Computer Science from <a href="http://cs.wpi.edu">Worcester Polytechnic Institute</a>, where I was a research assistant for 
                <a href="https://www.neilheffernan.net/">Neil Hefferenan</a>. 
                I was a teaching assistant for <a href="https://davis.wpi.edu/dsrg/MEMBERS/rundenst/">Elke Rudensteiner</a> (CS4433 - Big Data Management),
                <a href="https://web.cs.wpi.edu/~emmanuel/">Emmanuel Agu</a> (CS 528 - Mobile and Ubiquitous Computing) and
                <a href="https://users.wpi.edu/~fmurai/">Fabricio Murai</a> (CS 4432 - Database Management Systems II).
              </p>
              <p>Previously I worked as a Associate Software Engineer at <a href="https://www.accenture.com/in-en">Accenture India</a> for 1 year.</p>
              <p style="text-align:center">
                <a target="_blank" href="https://mailhide.io/e/lIR4GTC4"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/akankshapawar1">GitHub</a> &nbsp;/&nbsp;
                <a href="pdfs/AkankshaPawar.pdf">CV</a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/akankshapawar242"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/portfolio.png">
            </td>
          </tr>
        </table>

        <!-- <table>
          <tr>
            <td style="padding:20px;width:25%;vertical-align:middle">
              <img src='images/nuvo.jpg' width=100%>
            </td>
            <td style="padding:20px;width:75%;vertical-align:middle">
              <a href="https://pratulsrinivasan.github.io/nuvo/">
                <span class="papertitle">Nuvo: Neural UV Mapping for Unruly 3D Representations</span>
              </a>
              <br>
              <a href="https://pratulsrinivasan.github.io/">Pratul Srinivasan</a>,
              <a href="http://stephangarbin.com/">Stephan J. Garbin</a>,
              <a href="https://dorverbin.github.io/">Dor Verbin</a>,
              <strong>Jonathan T. Barron</strong>,
              <a href="https://bmild.github.io/">Ben Mildenhall</a>
              <br>
              <em>arXiv</em>, 2023
              <br>
              <a href="https://pratulsrinivasan.github.io/nuvo/">project page</a>
              /
              <a href="https://www.youtube.com/watch?v=hmJiOSTDQZI">video</a>
              /
              <a href="http://arxiv.org/abs/2312.05283">arXiv</a>
              <p></p>
              <p>
              Neural fields let you recover editable UV mappings for the challenging geometries produced by NeRF-like models.
              </p>
            </td>
          </tr>
        </table> -->

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              {{post.excerpt}}
            </td>
          </tr>
          {% endfor %}
        </table>
        <br>
        <br>
        <br>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h2>
                Skills
              </h2>
              <p><b>Languages:</b> Python, JavaScript, TypeScript, C++, Java, Kotlin, SQL, PHP, HTML/CSS, D3.js</p>
              <P><b>Data Management and Analytics:</b> MySQL, MongoDB, PostgreSQL, Apache Spark, Hadoop, Firebase</P>
              <p><b>Developer Tools/Frameworks:</b> React, Node.js, Flask, QT Creator, Cypress, Docker, Git, AWS, GCP, Azure, Jira</p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

